@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
  body {
    @apply transition-colors duration-300;
    @apply bg-white dark:bg-black;
    @apply text-black dark:text-white;
  }
}

@layer utilities {
  .transition-smooth {
    @apply transition-all duration-300 ease-in-out;
  }

  .card-shadow {
    @apply shadow-lg dark:shadow-gray-900;
  }
}
