/* 全域 Tailwind 層級設定與客製化工具類別 */
@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
  body {
    transition: background-color 0.3s, color 0.3s;
    @apply bg-white dark:bg-black;
    @apply text-black dark:text-white;
    font-family: "Noto Sans TC", sans-serif;
  }
}

@layer utilities {
  .transition-smooth {
    transition: all 0.3s ease-in-out;
  }

  .card-shadow {
    box-shadow: 0 10px 15px -3px rgb(0 0 0 / 0.1),
      0 4px 6px -4px rgb(0 0 0 / 0.1);
  }

  .dark .card-shadow {
    box-shadow: 0 10px 15px -3px rgb(17 17 17 / 0.9);
  }
}
